@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.img1 {
    position: absolute;
    width: 3.5%;
    height: 7%;
    margin-top: 70%;
    margin-left: 85.5%;
}

.img2 {
    position: absolute;
    width: 3.5%;
    height: 7%;
    margin-top: 141%;
    margin-left: 87%;
}

.img3 {
    position: absolute;
    width: 3.5%;
    height: 7%;
    margin-top: 212%;
    margin-left: 88%;
}

html {
    scroll-behavior: smooth;
  }

body {
    height: 100%;
    position: relative;
    width: 100%;
}

.header {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #dcdcdc;

}

.logo {
    display: flex;
    align-items: center;
    width: 300px;
    padding-left: 40px;
}

.logo span {
    color: #008ab4;
}

.search--notification--profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 300px);
    padding: 0 40px;
    justify-content: flex-end;
}

.notification--profile {
    display: flex;
    align-items: center;
}
.picon {
    margin-left: 20px;
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 5px;
}

.notification {
    margin-left: 20px;
    font-size: 1.1rem;
    border-radius: 5px;
}

.lock {
    color: #5073fb;
    background-color: rgba(80, 115, 251, .2);
}

.bell {
    color: #f1d243;
    background-color: rgba(241, 210, 67, .2);
}

.chat {
    color: #00ff84;
    background-color: rgba(0, 255, 132, 0.242);
}

.profile {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.icon {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 60px);
    color: #333333;
}

/* ----------------------------------------
-------------------------------------------
---------------main--content---------------
-------------------------------------------
-------------------------------------------- */

.main--content {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(100% - 300px);
    padding: 0 40px;
    overflow-y: scroll;
    transition: .3s;
    background-color: #f1f1f1;
}

.main--content.active {
    width: calc(100% - 103px);
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 30px;
}

.section--title {
    font-weight: 400;
}

.dropdown {
    outline: none;
    border: none;
    border-radius: 5px;
    width: 150px;
    padding: 5px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    padding: 20px;
    border-radius: 20px;
    min-width: 230px;
    height: auto;
    transition: .3s;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card--data {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.card h1 {
    font-size: 30px;
    margin-top: 10px;
}

.card--icon--lg {
    font-size: 80px;
}

.card--stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.card--stats span {
    display: flex;
    align-items: center;
}

.card--icon {
    margin-right: 5px;
}

.stat--icon {
    color: #5f5ce0;
}

.up--arrow {
    color: #70d7a5;
}

.down--arrow {
    color: #e86786;
}

.card-1 {
    background-color: rgba(80, 115, 251, .1);
}

.card-1 .card--title {
    color: rgba(80, 115, 251, 1);
}

.card-1 .card--icon--lg {
    color: rgba(80, 115, 251, .4);
}

.card-2 {
    background-color: rgba(241, 210, 67, .1);
}

.card-2 .card--title {
    color: rgba(241, 210, 67, 1);
}

.card-2 .card--icon--lg {
    color: rgba(241, 210, 67, .4);
}

.card-3 {
    background-color: rgba(112, 215, 165, .1);
}

.card-3 .card--title {
    color: rgba(112, 215, 165, 1);
}

.card-3 .card--icon--lg {
    color: rgba(112, 215, 165, .4);
}

.card-4 {
    background-color: rgba(227, 106, 200, .1);
}

.card-4 .card--title {
    color: rgba(227, 106, 200, 1);
}

.card-4 .card--icon--lg {
    color: rgba(255, 0, 200, 0.4);
}

/* ----------------------------------------
-------------------------------------------
------------------sidebar------------------
-------------------------------------------
-------------------------------------------- */

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 23%;
    background-color: rgb(51, 51, 51);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 4px solid #008ab4;
    transition: .3s;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    size: 10px;
}

.sidebar.active .sidebar--item {
    display: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
.sidebar--items a,
.sidebar--bottom-items a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    
}

.sidebar--items a:hover,
.sidebar--bottom-items a:hover {
    background-color: #008ab4;
    color: rgb(255, 255, 255);
}

#active--link {
    background-color: #008ab4;
    color: rgb(255, 255, 255);
}

.sidebar--bottom-items li:last-child a {
    margin-bottom: 0;
}

.icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-size: 1.3rem;
}

.tool-icon{
    position: relative;
    width: 28px;
    height: 28px;
}

.icon-1 {
    color: #ffffff;
}

/* ----------------------------------------
-------------------------------------------
------------------Dashbord-----------------
-------------------------------------------
-------------------------------------------- */
.Dashboard {
    height: 100vh;
}

.Dashboard--right--btns {
    display: flex;
    align-items: center;
    gap: 30px;
}

.add:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.Dashboard--cards {
    display: flex;
    gap: 20px;
}

.Dashboard--card {
    padding: 20px;
    border-radius: 20px;
    height: 200px;
    width: 300px;
    transition: .3s;
    border: 3px solid #ffffff;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .8rem;
}

.Total-Order{
    padding-top: 20px;
    font-size: 60px;
    color: white;
}

.Total-Equipment{
    padding-top: 20px;
    font-size: 60px;
    color: white;
}

.Total-Workers{
    padding-top: 20px;
    font-size: 60px;
    color: white;    
}

.Total-User{
    padding-top: 20px;
    font-size: 60px;
    color: white;    
}

/* ----------------------------------------
-------------------------------------------
------------Equipment Managemenet-----------
-------------------------------------------
-------------------------------------------- */
.Equipment-table {
    padding-top: 2%;
    height: 100vh;
}

.equipment-filter-table {
    margin-top: 20px;
    align-items: center;
    width: 800px;
    margin-left: 10%;
    text-align: center;
}


/* ----------------------------------------
-------------------------------------------
------------Customer Managemenet-----------
-------------------------------------------
-------------------------------------------- */
.Customer-table {
    padding-top: 2%;
    height: 100vh;
}

.table {
    text-align: center;
}

.customer-filter-table {
    margin-top: 20px;
    align-items: center;
    width: 600px;
    margin-left: 15%;
    text-align: center;
}

/* ----------------------------------------
-------------------------------------------
--------------Worker Managemenet-----------
-------------------------------------------
-------------------------------------------- */
.Worker-table {
    padding-top: 2%;
    height: 100vh;
}

.worker-filter-table {
    margin-top: 20px;
    align-items: center;
    width: 600px;
    margin-left: 15%;
    text-align: center;
}


/* ----------------------------------------
-------------------------------------------
--------------Worker approval--------------
-------------------------------------------
-------------------------------------------- */
.Worker-approval {
    height: 100vh;
}

.Worker-approval--right--btns {
    display: flex;
    align-items: center;
    gap: 30px;
}

.add {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    outline: none;
    border: none;
    background-color: #5073fb;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.add:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.add i {
    margin-right: 10px;
    padding: 5px;
    background-color: #fff;
    border-radius: 50%;
    color: rgb(0, 0, 0, 255);
}

.Worker-approval--cards {
    display: flex;
    gap: 20px;
}

.Worker-approval--card {
    padding: 20px;
    border-radius: 20px;
    height: auto;
    transition: .3s;
    border: 3px solid #ffffff;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .8rem;
}

.Worker-approval--card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 166, 0);
    color: rgb(255, 255, 255);
}

.img--box--cover {
    border: 5px solid #ffffff;
    padding: 2px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 10px;
}

.img--box {
    position: relative;
    width: 71px;
    height: 71px;
    overflow: hidden;
    border-radius: 50%;
}

.free {
    color: #ffffff;
    font-size: 17px;
}

.scheduled {
    color: rgb(255, 255, 255);
    font-size: 17px;
}

/* ----------------------------------------
-------------------------------------------
--------------Item approval--------------
-------------------------------------------
-------------------------------------------- */
.Item-approval {
    height: 100vh;
}

.Item-approval--right--btns {
    display: flex;
    align-items: center;
    gap: 30px;
}

.add {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    outline: none;
    border: none;
    background-color: #5073fb;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.add:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.add i {
    margin-right: 10px;
    padding: 5px;
    background-color: #fff;
    border-radius: 50%;
    color: rgb(0, 0, 0, 255);
}

.Item-approval--cards {
    display: flex;
    gap: 20px;
}

.Item-approval--card {
    padding: 20px;
    border-radius: 20px;
    height: auto;
    transition: .3s;
    border: 3px solid #ffffff;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .8rem;
}

.Item-approval--card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 166, 0);
    color: rgb(255, 255, 255);
}

.img--box--cover {
    border: 5px solid #ffffff;
    padding: 2px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 10px;
}

.img--box {
    position: relative;
    width: 71px;
    height: 71px;
    overflow: hidden;
    border-radius: 50%;
}

.free {
    color: #ffffff;
    font-size: 17px;
}

.scheduled {
    color: rgb(255, 255, 255);
    font-size: 17px;
}

/* ----------------------------------------
-------------------------------------------
-----------------Admin Panel---------------
-------------------------------------------
-------------------------------------------- */

.recent--patients {
    margin-bottom: 20px;
}

.table {
    height: 200px;
    overflow-y: scroll;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #e5e5e5;
}

td,
th {
    padding-block: 10px;
}

.edit {
    color: #70d7a5;
    margin-right: 10px;
}

.delete {
    color: #e86786;
}

.pending {
    color: #e7bc00;
}

.confirmed {
    color: #00cb69;
}

.rejected {
    color: #ff003c;
}


/* responsive starts here */

@media screen and (max-width:1350px) {
    .cards,
    .doctors--cards {
        overflow-x: scroll;
    }
}

@media screen and (max-width:1024px) {
    table {
        min-width: 600px;
    }
}

@media screen and (max-width:768px) {
    .logo {
        padding-left: 30px;
        width: fit-content;
    }
    .search--notification--profile {
        padding: 0 20px;
        margin-left: auto;
    }
    .main--content {
        padding: 0 20px;
    }
    .sidebar {
        padding: 20px;
    }
    .sidebar.active {
        width: 85px;
    }
    .main--content.active {
        width: calc(100% - 85px);
    }
}

@media screen and (max-width:590px) {
    .search,
    .lock,
    .chat {
        display: none;
    }
    .notification--profile {
        margin-left: auto;
    }
    .search--notification--profile {
        width: fit-content;
    }
    .sidebar {
        transform: translateX(-100%);
        z-index: 10;
        background-color: #fff;
    }
    .sidebar.active {
        transform: translateX(0);
        width: 300px;
    }
    .sidebar.active .sidebar--item {
        display: block;
    }
    .main--content {
        width: calc(100% - 0px);
    }
    .main--content.active {
        width: calc(100% - 0px);
    }
}

@media screen and (max-width:450px) {
    .doctor--filter {
        display: none;
    }
    .main--content {
        padding: 0 10px;
    }
    .logo {
        padding-left: 10px;
    }
    .search--notification--profile {
        padding: 0 10px;
    }
    .sidebar {
        padding: 10px;
    }
}